/* .map-container {
  max-width: 70%;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid #db1111;
  border-radius: 5px;
  overflow: hidden;
} */

/* .map {
  height: 70%;
  width: 80%;
} */


